.header__logo {
	min-width: 142px;
	min-height: 33px;

	margin: 0 auto 41px 0;

	transition: opacity 0.3s ease-in-out;

	background-image: url(../../../images/__logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.header__logo:hover {
	opacity: 0.6;
}

@media screen and (max-width: 425px) {
	.header__logo {
		min-width: 89px;
		min-height: 24px;

		margin: 0 auto 32px 5%;
	}
}