.popup__title {
	width: 84%;
	margin: auto;
	min-width: 330px;

	text-align: center;

	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}

@media screen and (max-width: 425px) {
	.popup__title {
		font-size: 18px;
		line-height: 22px;
		min-width: 238px;

		margin: 25px auto 0 auto;
	}
}