.header__email {
	line-height: 22px;
	font-size: 18px;
	font-weight: lighter;
	color: white;
	text-decoration: none;

	height: min-content;

	margin: 0 25px auto auto;
	padding: 0;
}

@media screen and (max-width: 650px) {
	.header__email {
		display: none;
	}
}