.popup__illustration {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	cursor: default;

	background-color: transparent;

	margin: 0;
	padding: 0;

	position: relative;

}