.login__input {
	border: none;
	border-bottom: 2px solid rgba(84, 84, 84, 0.7);
	background-color: black;
	color: white;

	width: 100%;

	margin: 0 auto 20px auto;

	line-height: 30px;
}

.login__input:focus {
	outline-style: none;
}

@media screen and (max-width: 425px) {
	.login__input {
		width: 90%;
	}

}