.element__like {
	grid-area: like;
	grid-column: 2/3;
	grid-row: 2/3;

	background-color: #ffffff;
	background-image: url(../../../images/__like.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	margin: 25px 20px auto auto;
	padding: 0;

	cursor: pointer;

	border: none;

	transition: opacity 0.3s ease-in-out;

	width: 22px;
	height: 19px;
}

.element__like:hover {
	opacity: 0.5;
}